<ion-header translucent>
    <ion-toolbar>
        <ion-title>Create directory</ion-title>

        <ion-buttons slot="primary">
            <ion-button (click)="onCreateClick()" [disabled]="formGroup.invalid" tabindex="-1">Create</ion-button>
        </ion-buttons>

        <ion-buttons slot="secondary">
            <ion-button (click)="onCancelClick()" tabindex="-1">Cancel</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <form [formGroup]="formGroup" (keydown.enter)="onEnter()">
        <ion-item lines="none">
            <ion-label position="stacked">Directory name</ion-label>
            <ion-input placeholder="Enter directory name" formControlName="name" appAutofocus tabindex="1"></ion-input>
        </ion-item>
    </form>
</ion-content>
