.build
.build-emcc
.build-test
.deps
.deps-emcc
.deps-test

src/**/*.js
src/**/*.wasm

lab

*.rom
*.stamp
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/tasks.json
gh-pages
node_modules
ts-compiled
dist
yarn-error.log
parser.out
WebIDLGrammar.pkl
Makefile.local
*.bin
*.img
*.rom
*.log
*.map
*.zip
*.prc
*.pdb
*.pem
*.cer
*.p12
*.s
*.wat
*.wasm
*.patch
*.profraw
__pycache__
.vscode/.ropeproject
.mypy_cache
