.build
.build-emcc
.build-test
.deps
.deps-emcc
.deps-test
src/cloudpilot
src/*.js
src/*.wasm
src/test/test
*.rom
*.stamp
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/tasks.json
gh-pages
node_modules
ts-compiled
dist
yarn-error.log
parser.out
WebIDLGrammar.pkl
Makefile.local
*.bin
*.img
*.rom
