.text-wrapper {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    // WORKAROUND Ionic bug that causes "end" slot to overflow to next line
    max-width: 170px;

    .ios & {
        max-width: 130px;
    }
}
