ion-item {
    --highlight-color-valid: var(--highlight-color-focused);
    --background: none;
}

.engine-cloudpilot ion-range::part(label) {
    min-width: 7.5rem;
}

.engine-uarm ion-range::part(label) {
    min-width: 11rem;
}

h1 {
    margin-left: 1rem;
    margin-right: 1rem;
}
