ion-item {
    --highlight-color-valid: var(--highlight-color-focused);
    --background: none;
}

ion-range::part(label) {
    min-width: 7.5rem;
}


h1 {
    margin-left: 1rem;
    margin-right: 1rem;
}
