.placeholder-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .placeholder {
        cursor: default;
        text-align: center;
        max-width: 30em;
        padding: 0 2em;
    }
}

.ios .placeholder-container {
    height: calc(100% - 4em);
}

.loader {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: calc(50vh - 5em);
}

.md .loader {
    margin-top: calc(50vh - 4em);
}

ion-list {
    background: none;
}
