[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
protobuf = "*"
hexdump = "*"
pyopenssl = "*"
pyinstaller = "*"
pywin32-ctypes = "*"
pyreadline = "*"
sanic = {ref = "fix-response-after-close", git = "https://github.com/DirtyHairy/sanic.git/"}

[dev-packages]

[requires]
python_version = "3"

[scripts]
cli = "python cli.py"
build = "pyinstaller -n cloudpilot-server --collect-submodules websockets.legacy --onefile cli.py"
