[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
protobuf = "*"
hexdump = "*"
pyopenssl = "*"
pyinstaller = "*"
pywin32-ctypes = "*"
pyreadline = "*"
sanic = {ref = "fixes", git = "https://github.com/dirtyhairy/sanic"}
sanic-cors = "*"
pefile = "*"

[dev-packages]

[requires]
python_version = "3"

[scripts]
cli = "python cli.py"
build = "pyinstaller -n cloudpilot-server --collect-submodules websockets.legacy cli.py"
