.version {
    width: 100%;
    bottom: 1em;
    text-align: center;
    font-size: 0.75em;
    margin-top: 3em;
    margin-bottom: 1em;
}

.markdown-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
}

markdown {
    display: block;
    margin-left: 0.5em;
    margin-right: 0.5em;
    max-width: 40em;
}

.loader {
    width: 100%;
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center;
}
