.container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.placeholder-wrapper {
    flex: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.placeholder {
    text-align: center;
    max-width: 30em;
    padding: 0 2em;
}

ion-list {
    background: none;
    flex: 0;
}


ion-item.metadata {
    text-align: center;
}
