.placeholder-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .placeholder {
        text-align: center;
        max-width: 30em;
        padding: 0 2em;
    }
}

.ios .placeholder-container {
    height: calc(100% - 4em);
}

ion-list {
    background: none;
}
