.placeholder-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .placeholder {
        text-align: center;
        max-width: 30em;
        padding: 0 2em;
    }
}

.ios .placeholder-container {
    height: calc(100% - 4em);
}

ion-list {
    background: none;
}

.select-arrow {
    border-top: 5px solid;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    display: inline-block;
    opacity: 0.33;
    margin-left: 0.5em;
    vertical-align: middle;

    .md & {
        opacity: 0.55;
    }
}
