<ion-header>
  <ion-toolbar>
    <ion-title>{{title}}</ion-title>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="primary">
      <ion-button (click)="showHelp()">
        <ion-icon name="help-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="entries !== undefined && entries.length === 0" class="placeholder-container">
    <div class="placeholder">
      empty directory
    </div>
  </div>

  <ion-list *ngIf="entries !== undefined">
    <app-file-entry *ngFor="let entry of entries;trackBy:trackEntryBy" [entry]="entry" (selectEntry)="onSelect(entry)"
      (interaction)="lastEntryTouched = entry.name" [touched]="entry.name === lastEntryTouched">
    </app-file-entry>
  </ion-list>
</ion-content>
